/* popupForm.module.css */

.logo {
  margin-top: 30px;
  width: 60px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
  /* justify-content: center;  */
	margin: 0 auto;
	width: 90vw;
	height: 100vh;
}

@media (min-width: 378px) {
  .container {
    padding: 18px 18px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputtext {
  height: 24px;
  display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

.inputbox {
  margin-top: 1.5rem;
  margin-bottom: 24px;
}

.inputbox .label {
  color: #000;
  font-size: 12px;
  text-align: left;
  margin-bottom: 8px;
}

.inputbox input {
  display: block;
  width: 100%;
  max-width: 348px;
  font-size: 16px;
  padding: 11px 16px 13px;
  border: 1.5px solid lightgray;
  border-radius: 8px;
  transition: border-color 0.3s; 
}

.inputbox input:focus {
  border-color: #f688a5;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.text {
  font-size: 16px;
  margin-left: 8px;
}

.invitation__Button{
  margin-top: 1.5rem;
	margin-bottom: 1rem;
	/* width: 60vw; */
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: #f688a5;
	color: #fff;
}

.invitation__Button:active {
	color: #fff;
	background-color: #6ab8e6;
	transform: scale(0.95);
	transition: 10ms;
	border: none;
}


.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  cursor: pointer;
}